body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7d4ef3;
}
.profil{  
    display: flex;
    gap: 20px;
    padding-left: 10px;
}

.container {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #f9f9f9;
    color: #5e6ae4;
    padding-top: 10px;
    min-height: 40vh;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 10px 0 10px;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #77aaff;
    font-weight: bold;
}

header a:hover {
    color: #121212;
}
hr{
    background: #5e6ae4;
    border-radius: 3px;
    height: 4px;

}
.section {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    border-bottom: #77aaff 3px solid;
    border-radius: 20px;
    margin: 20px;
}
.section h2 {
    color: #5e6ae4;
    text-align: left;
}

.section p {
    color: #666;
    text-align: center;
    line-height: 1.6em;
}
.skill{
    text-transform: uppercase;
}
.skill-grid{
    display: grid;
    
   
}
.item1,.item2{
    width: 50%;
    height: 15px;
    background:blue;
    background-size: 70% 100%;
    border-radius: 10px;
}

.item3{
    width: 15%;
    height: 15px;
    background:red;
    border-radius: 10px;
}
.item4,.item5,.item6{
    width: 10%;
    height: 15px;
    background:red;
    border-radius: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    background: #fff;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
}

.project h3 {
    color: #333;
}

.project p {
    color: #666;
    line-height: 1.6em;
}

.ai-button img{
    background-image: url('img1.jpg');
    background-size: contain;
}